<div class="row">
    <div class="header-container col-md-4 ">
        <a *ngIf="user" (click)="toggleSidebar()" class="navigation">
            <nb-icon icon="menu-outline"></nb-icon>
        </a>
        <div class="logo"><a routerLink="">SRAA</a></div>
    </div>
    <div class="col-md-5 upload">
        <a class="navigation">
            <nb-icon class="icon" icon="arrow-upward-outline"></nb-icon>
        </a>
        <span class="icon" [routerLink]="['/documents/add-documents']">Subir</span>
    </div>
    <div class="dropdown col-md-3">
        <button class="btn btn-primary dropdown-toggle header-container float-right" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{username}}
            <nb-icon icon="person-outline" class="ml-2"></nb-icon>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" (click)="changePassword()">Change Password</button>
            <button class="dropdown-item" (click)="logout()">Log out</button>
        </div>
    </div>
</div>